apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base
images:
- name: feeeng/devops-java-sample:latest
  newName: docker.io/feeeng/devops-java-sample
  newTag: SNAPSHOT-master-56
