apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base
images:
#- name: docker.io/feeeng/devops-java-sample:latest
- name: docker.io/luomonkeyking/devops-java-sample:SNAPSHOT-master-5 
  newName: docker.io/raymondlwb/devops-java-sample
  newTag: SNAPSHOT-master-5

