apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

#namespace
namespace: kubesphere-sample-prod

images:
#- name: feeeng/devops-java-sample:latest
- name: docker.io/luomonkeyking/devops-java-sample:SNAPSHOT-master-5
  newName: $REGISTRY/$DOCKERHUB_NAMESPACE/$APP_NAME
  newTag: SNAPSHOT-$BRANCH_NAME-$BUILD_NUMBER


# # patch
# patches:
# - path: update_patch.yaml
#   target:
#     group: apps
#     kind: Deployment
#     name: ks-sample
#     version: v1
