apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ks-sample
  name: ks-sample
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubesphere
  template:
    metadata:
      labels:
        app: kubesphere
    spec:
      containers:
        - env:
            - name: CACHE_IGNORE
              value: js|html
            - name: CACHE_PUBLIC_EXPIRATION
              value: 3d
          image: feeeng/devops-java-sample:latest
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            timeoutSeconds: 10
            failureThreshold: 30
            periodSeconds: 5
          imagePullPolicy: Always
          name: ks-sample
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            limits:
              cpu: 300m
              memory: 600Mi
            requests:
              cpu: 100m
              memory: 100Mi
      dnsPolicy: ClusterFirst
      restartPolicy: Always