apiVersion: v1
kind: Service
metadata:
  namespace: kubesphere-sample-dev
  labels:
    app: kubesphere
  name: ks-sample-g
  annotations:
    kubesphere.io/creator: admin  
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: kubesphere
  sessionAffinity: None
  type: NodePort
