apiVersion: v1
kind: Service
metadata:
  labels:
    app: kubesphere
  name: ks-sample
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
      nodePort: 30861
  selector:
    app: kubesphere
  sessionAffinity: None
  type: NodePort